<p id="notice"><%= notice %></p>




<h3>Certificates</h3><%= link_to "Add Certificate", new_certificate_url, :class => "btn btn-info" %>

<% certificates = Certificate.where(:user_id => @user.id) %>
<% certificates.each do |certificate| %>
<table>
  <thead>
    <tr>
      <th>Credits</th>
      <th>Topic</th>
      <th>Course title</th>
      <th>Date</th>
      <th>Credit category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= certificate.credits %></td>
        <td><%= certificate.topic %></td>
        <td><%= certificate.course_title %></td>
        <td><%= certificate.date %></td>
        <td><%= certificate.credit_category %></td>
        <td><%= link_to 'Show', certificate %></td>
        <td><%= link_to 'Edit', edit_certificate_path(certificate) %></td>
        <td><%= link_to 'Destroy', certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>F name:</strong>
  <%= @user.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @user.l_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Lic state:</strong>
  <%= @user.lic_state %>
</p>

<p>
  <strong>Lic number:</strong>
  <%= @user.lic_number %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Lic initial date:</strong>
  <%= @user.lic_initial_date %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
