

<p id="notice"><%= notice %></p>


<h3>Current License Period</h3> <%= link_to "Add New License Period", new_period_url, :class => "btn btn-info" %>

<% period = Period.where(:user_id => @user.id) %>
<ul class="media-list">
  <% period.each do |per| %>
  <li>
    <h5>Period Ends: <%= per.period_end.strftime("%B %e, %Y") %></h5>
  <h5> Time Remaining</h5>
  <% period_fin = per.period_end.to_i %>
  <% remaining_seconds = period_fin - Time.now.to_i %>
  <% remaining_minutes = remaining_seconds/60 %>
  Remaining Minutes: <%= remaining_minutes  %>
  <% remaining_hours = remaining_minutes/60 %>
  Remaining Hours: <%= remaining_hours %>
  <% remaining_days = remaining_hours/24 %>
  Remaining Days: <%= remaining_days %>
  <% remaining_months = remaining_days/30 %>
  Remaining Months: <%= remaining_months %>
  <% remaining_weeks = remaining_months*4 %>
  Remaining Weeks: <%= remaining_weeks %>
  </li>


  <% end %>
</ul>
<h3>Certificates</h3><%= link_to "Add Certificate", new_certificate_url, :class => "btn btn-info" %>
<% certificates = Certificate.where(:user_id => @user.id) %>
<% credit_total = [] %>
<% certificates.each do |certificate| %>

<% credit_total << certificate.credits.to_i %>
<% @credit_sum = credit_total.reduce(:+) %>
<% end %>

<% state = State.find_by(:id => @user.state_id) %>
<h3>Total Credits Earned: <%= @credit_sum %></h3>
<% percent = ((@credit_sum.to_i.to_f / state.credit_hours.to_i.to_f) * 100).to_i %>
<h3>Percent of Required Credits: <%= percent %>%</h3>
<div class="progress progress-info">
  <div class="bar" style="width: <%= percent %>%"></div>
</div>
<% certificates.each do |certificate| %>

<table>
  <thead>
    <tr>
      <th>Credits</th>
      <th>Topic</th>
      <th>Course Title</th>
      <th>Date</th>
      <th>Credit Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= certificate.credits %></td>
        <td><%= certificate.topic %></td>
        <td><%= certificate.course_title %></td>
        <td><%= certificate.date.strftime("%B %e, %Y") %></td>
        <td><%= certificate.credit_category %></td>
        <td><%= link_to 'Show', certificate %></td>
        <td><%= link_to 'Edit', edit_certificate_path(certificate) %></td>
        <td><%= link_to 'Destroy', certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>

  <h2>Profile</h2>
<p>
  <strong>First Name</strong>
  <%= @user.f_name %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @user.l_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Lic state:</strong>
  <%= @user.state_id %>
</p>

<p>
  <strong>Lic number:</strong>
  <%= @user.lic_number %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<p>
  <strong>Lic initial date:</strong>
  <%= @user.lic_initial_date.strftime("%B %e, %Y") %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
